<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>CCTV</title>
    
</head>
<body>
    <h1>Streaming</h1>
    <div>
        <img src="{{ url_for('video_feed') }}" width="640" height="480" style="border: 1px solid black;"><br>
        <button id="show-motion-image" width="200" height="150">모션 이미지 보기</button>
    </div>
    
<script>
    document.getElementById('show-motion-image').addEventListener('click', function() {
        window.location.href = '/homevisit';  // 버튼을 클릭하면 '/homevisit' 경로로 이동
    });
</script>
</body>
</html>
