<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>HomeCam & DoorLock/Home</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/buttonstyle.css')}}">
</head>

<body>
    <img src="https://cdn-icons-png.flaticon.com/512/2709/2709340.png" class="Cctvimg">
    <img src="https://cdn-icons-png.flaticon.com/512/2706/2706914.png" class="Faceimg">
    <img src="https://cdn-icons-png.flaticon.com/512/4974/4974719.png" class="Doorimg">
    <h1>HomeCam & DoorLock</h1>
    <div class="home-form">
        <input type="image" src="https://cdn-icons-png.flaticon.com/512/4421/4421772.png"
         class="logout-button" id="homebackbutton" alt="로그아웃" onclick="location.href='/login';">
        <h3>&lt; HOME &gt;</h3>
        <form id="home-button">
            <button type="button" class="home-button learn-more" id="Homecambutton"
                onclick="location.href='/homecam';">Homecam</button>
            <button type="button" class="home-button learn-more" id="Doorlockbutton">Doorlock</button>
            <button type="button" class="home-button learn-more" id="Userbutton" onclick="location.href='/user';">User
                Information</button>
        </form>
    </div>
    <script>
        document.getElementById("Doorlockbutton").addEventListener("click", function () {
            window.location.href = "http://220.69.203.19:9092/";
        });
    </script>
</body>

</html>