<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>HomeCam & DoorLock</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/startstyle.css')}}">
    <script>
        setTimeout(transition, 1000);

        document.querySelector('.js-trigger-transition').addEventListener('click', function (e) {
            e.preventDefault();
            transition();
        });

        function transition() {
            var tl = new TimelineMax();

            tl.to(CSSRulePlugin.getRule('body:before'), 0.2, { cssRule: { top: '50%' }, ease: Power2.easeOut }, 'close')
                .to(CSSRulePlugin.getRule('body:after'), 0.2, { cssRule: { bottom: '50%' }, ease: Power2.easeOut }, 'close')
                .to($('.loader'), 0.2, { opacity: 1 })
                .to(CSSRulePlugin.getRule('body:before'), 0.2, { cssRule: { top: '0%' }, ease: Power2.easeOut }, '+=1.5', 'open')
                .to(CSSRulePlugin.getRule('body:after'), 0.2, { cssRule: { bottom: '0%' }, ease: Power2.easeOut }, '-=0.2', 'open')
                .to($('.loader'), 0.2, { opacity: 0 }, '-=0.2');
        }

    </script>
<style>
    
</style>
</head>

<body>
    <div class="loader">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
        <div class="bar4"></div>
        <div class="bar5"></div>
        <div class="bar6"></div>
    </div>

    <main>
        <div class="-content -index">
            <div>
                <h1>HomeCam & DoorLock</h1>
                <a class="btn js-trigger-transition" onclick="location.href='/login';">START</a>
            </div>
        </div>
    </main>
</body>

</html>