@keyframes delay {
    0%, 40%, 100% {
        transform: scaleY(0.05);
        -webkit-transform: scaleY(0.05);
    }
    20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}
body {
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
    color: #5287d6;
    background-color: #5287d6;
    -webkit-font-smoothing: antialiased;
}

body:before,
body:after {
    content: '';
    height: 50vh;
    width: 100%;
    position: fixed;
    left: 0;
    background: #1c2020;
    z-index: 1;
}

body:before {
    top: 0;
    transform: translateY(-100%);
}

body:after {
    bottom: 0;
    transform: translateY(100%);
}

h1 {
    color: rgb(255, 255, 130);
    margin-bottom: 1em;
    font-size: 4rem;
    text-shadow: 8px 8px 8px black,0 0 30px black;
}

.btn {
    display: inline-block;
    padding: 2em 3em;
    margin-bottom: 2em;
    border-radius: 50em;
    background-color: #2a2e2e;
    color: #ffffff;
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
}

.btn:hover {
    background-color: #3a3e3e;
}

.loader {
    margin: 0 auto;
    width: 60px;
    height: 50px;
    text-align: center;
    font-size: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    z-index: 500;
    opacity: 0;
}

.loader > div {
    height: 100%;
    width: 8px;
    display: inline-block;
    margin-left: 2px;
    animation: delay 2s infinite ease-in-out;
}
.loader .bar1 {
    background-color: #754fa0;
}

.loader .bar2 {
    background-color: #09b7bf;
    animation-delay: -0.7s;
}

.loader .bar3 {
    background-color: #90d36b;
    animation-delay: -0.6s;
}

.loader .bar4 {
    background-color: #f2d40d;
    animation-delay: -0.5s;
}

.loader .bar5 {
    background-color: #fcb12b;
    animation-delay: -0.4s;
}

.loader .bar6 {
    background-color: #ed1b72;
    animation-delay: -0.3s;
}

main {
    height: 100vh;
    text-align: center;
}

main .-content {
    position: relative;
    height: 100vh;
}

main .-content>div {
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
}

main .-content.-index {
    background-color: #5287d6;
    display: table;
    width: 100%;
}

main .-content.-index>div {
    display: table-cell;
    vertical-align: middle;
}